@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bg-blocks {
  background-image: url("../imgs/blocks-fade.jpg");
  background-position: center;
}

.bg-meet {
  background-image: url("../imgs/meet.jpg");
  background-position: center;
}

.bg-koi {
  background-image: url("../imgs/koi-732006.svg");
  background-repeat: repeat;
  background-size: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: overlay;
}

.bg-ai {
  background-image: url("../imgs/ai.png");
  background-position: center;
}

.dev,
.dev * {
  outline: 1px solid rgba(255, 0, 0, 0.384) !important;
}

.dashboard__nav_item {
  @apply flex items-center gap-2 text-gray-600 font-semibold rounded-md px-4 py-3 text-sm uppercase tracking-wider hover:!bg-purple-200 hover:!text-purple-800 active:!bg-indigo-300;
}

.dashboard__nav_item.active-link {
  @apply bg-indigo-100/80 text-purple-900;
}

.material-symbols-outlined.loading {
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
